body{
background-color: black;

}

#title, .subtitle, .post{
font-style: italic;

}

.letra{
color: white;
font-style: italic;
font-size: 20;
width: 100%;
}

.imagem{
width: 17%;
}

.btn-linkedin {
background: #0E76A8;
border-radius: 2;
color: #fff;
border-width: 1px;
border-style: solid;
border-color: #084461;
}
.btn-linkedin:active, .btn-linkedin:hover {
background: #084461;
color: #fff;
}
.btn-linkedin:link, .btn-linkedin:visited {
color: #fff;
}

 