body{
background-color: #ADD8E6;

}

#title, .subtitle, .post{
font-style: italic;
padding: 1%;
}

.post{

background-color: #4682B4;
border-radius: 5px;

}

.letra{
color: black;
font-style: italic;
font-size: 20;
width: 100%;
}

.imagem{
width: 17%;
border-radius: 10px;
padding: 1%;
}

.btn-linkedin {
background: #0E76A8;
border-radius: 2;
color: #fff;
border-width: 1px;
border-style: solid;
border-color: #084461;
}
.btn-linkedin:active, .btn-linkedin:hover {
background: #084461;
color: #fff;
}
.btn-linkedin:link, .btn-linkedin:visited {
color: #fff;
}

 
.button2 {
  background-color:  #084461; 
  color: #fff; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #084461;
  color: white;
}
